{% extends '::base.html.twig' %}

{% block title %}Team Member {{location.name}}{% endblock %}

{% block body %}
    
    

    
    
        <h1> {{ member }}</h1>
        <div class="row">
    {{member.description}}
    </div>
{% endblock %}

