{% extends '::base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}

    {% for location in locations %}
        <h2> {{ location }}</h2>
    <a href="{{ path('rockbusters_em_location', {'slug': location.slug}) }}">
        {{ location }}
    </a>
    {% endfor %}

{% endblock %}